func (d *Dao) HSet(ctx context.Context, keyArgs string, hashField string, value model_redis.ObjectType) error {
	key := fmt.Sprintf(RedisKeyPattern, keyArgs)

	b, err := json.Marshal(value)
	if err != nil {
		logging.Errorf("json.Marshal fail|err=%v", err)
		return err
	}

	_, err = d.rds.HSet(ctx, key, hashField, b)
	if err != nil {
		logging.Errorf("redis cmd fail|err=%v", err)
		return err
	}

	return nil
}